@font-face {
  font-family: 'Dubai-Bold';
  src: url('/Dubai-Bold.eot?#iefix') format('embedded-opentype'), url('/Dubai-Bold.woff') format('woff'), url('/Dubai-Bold.ttf') format('truetype'), url('/Dubai-Bold.woff2#Dubai-Bold') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai-Medium';
  src: url('/Dubai-Medium.eot?#iefix') format('embedded-opentype'), url('/Dubai-Medium.woff') format('woff'), url('/Dubai-Medium.ttf') format('truetype'), url('/Dubai-Medium.woff2#Dubai-Medium') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai-Regular';
  src: url('/Dubai-Regular.eot?#iefix') format('embedded-opentype'), url('/Dubai-Regular.woff') format('woff'), url('/Dubai-Regular.ttf') format('truetype'), url('/Dubai-Regular.woff2#Dubai-Regular') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dubai-Light';
  src: url('/Dubai-Light.eot?#iefix') format('embedded-opentype'), url('/Dubai-Light.woff') format('woff'), url('/Dubai-Light.ttf') format('truetype'), url('/Dubai-Light.woff2#Dubai-Light') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.font-dubai-bold {
  font-family: 'Dubai-Bold', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-dubai-medium {
  font-family: 'Dubai-Medium', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-dubai-regular {
  font-family: 'Dubai-Regular', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-dubai-light {
  font-family: 'Dubai-Light', Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
